@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: #ffeba7;
	background-color: #1f2029;
    text-align: center;
}

.container {
    position: relative;
  }
  
  .checkmark {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 50px;
    color: green;
  }
  
  .xmark {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 50px;
    color: red;
  }

a {
    color: green;
    font-size: 26px;
    padding: 15px;
  }

#create-profile-form label {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

#create-profile-form input,
#create-profile-form select,
#create-profile-form textarea {
  display: block;
  margin: 0 auto;
  width: 50%;
  max-width: 300px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding: 5px;
}

#create-profile-form button {

  margin-top:10px;
}